<div class="image" style="background-image:url(<%=image%>)"></div>
<div class="info">
	<div class="title"><%=title%></div>
	<div class="time"><%=time%></div>
	<div class="calorie"><%=calorie === 0 ? "--" : calorie%>kcal</div>
</div>
