<form action="/" id="hiddenForm">
  <input id="hiddenField"></input>
</form>
<div id="container">
  <div id="recipes"     class="containerInner"></div>
  <div id="commodities" class="containerInner open"></div>
  <div id="nutritions"  class="containerInner">&nbsp;</div>&nbsp;
</div>
<div id="debug">
  <a href="#" class="addBeef">牛肉追加</a>
  <a href="#" class="addCarot">にんじん追加</a>

</div>
