<form action="/" id="hiddenForm">
  <input id="hiddenField"></input>
</form>
<div id="content">
  <div id="recipes"     class="containerInner"></div>
  <div id="commodities" class="containerInner open"></div>
	<div id="nutrition"  class="containerInner"></div>
	&nbsp;
</div>
<% if Rails.env == 'development' %>
	<div id="debug">
		<form id="debugForm">
			<select name="ingredient" id="debugSelectIngredient">
				<option value="none">商品を選択 </option>
			</select>
			<input type="submit" value="追加" />
			<button id="randomAdd">適当に追加</button>
		</form>
	</div>
<% end %>
