<div class="commodityDetaiil entity">
	<h2><%= name %></h2>
	<div class="price"><%= price %></div>
	<div class="description"><p><%= description %></p></div>
	<div class="count"><%= count %></div>
</div>
