<h1>Edit commodity</h1>

<form id="edit-commodity" name="commodity">
  <div class="field">
    <label for="jan"> jan:</label>
    <input type="text" name="jan" id="jan" value="<%= jan %>" >
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" >
  </div>

  <div class="field">
    <label for="weight"> weight:</label>
    <input type="text" name="weight" id="weight" value="<%= weight %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Commodity" />
  </div>

</form>

<a href="#/index">Back</a>