<h1>買い物リスト</h1>
<div class="total">
	合計金額 <span class="totalPrice"></span>円
</div>
<div class="detailView">
	<div class="listWrapper">
		<div class="list"></div>
	</div>
</div>
<div class="summarizedView"></div>

<div class="holder">バーコードリーダーで食材を追加しましょう</div>
