<p>
  <b>Jan:</b>
  <%= jan %>
</p>

<p>
  <b>Price:</b>
  <%= price %>
</p>

<p>
  <b>Weight:</b>
  <%= weight %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>


<a href="#/index">Back</a>