// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hiddenForm {
  opacity: 0.01;
  position: absolute;
  top: 0;
  left: 0;
  input { 
    font-size:2px;
    width:2px;
  }
}
